# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?



---


**Q1.**

1. The paper is about data tidying and this can make the data cleaning process, and in turn data analysis much easier.
2. The tidy data standard provides a way to organize data values within a dataset, and by having a standard the process of cleaning is made easier since you don't have to start from scratch every time.
3. The sentence "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." means that every dataset may have some part of it that is considered messy or unnecessary or confusing etc but that "messy" part is not always the same between every dataset. The sentence "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general." means that it is difficult to strictly define variables and observations because of how what can be viewed as one or the other can change depending on context/scenario or even by looking at what other variables and observations there are in the dataset.
4. Wickham defines values as what datasets are comprised of and they are usually either numbers or strings (quantitave or qualitative). She defines variables as all values that measure the same underlying attribute across units and observations as all values measured on the same unit across attributes.
5. Tidy data is defined as a standard way of mapping the meaning of a dataset to its structure. In tidy data each variable forms a column, each observation forms a row, and each type of observational unit forms a table.
6. The 5 most common problems with messy data sets are: column headers are values and not variable names, multiple variables stored in one column, variables are stored in both rows and columns, multiple types of observational units are stored in the same table, a single observational unit is stored in multiple tables. The data in Table 4 are messy because the column headers are values (in this case income) instead of variables. Melting a dataset refers to turning the columns of a dataset into rows.
7. Table 11 has a column, element, which contains variable names and with a different column for each date of the month with each column being mostly empty. Table 12 is tidy and molten because the separate columns for dates have been condensed into one and the element column has been split into two columns based on the variables that were stored there.
8. The "chicken-and-egg" problem is "if tidy data is only as useful as the tools that work with it, then tidy tools will be inextricably linked to tidy data (Wickham 20)." Wickham hopes that others will build on her framework for tidy data to make even better storage strategies and tools.



---

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)



---

**Q2.**

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv('/content/drive/MyDrive/UVA/24F/ML/airbnb_hw.csv',low_memory=False)
df

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30473,43022976,8/31/2015,10 Mins to Time Square/two floors,Queens,Apartment,NaN,Entire home/apt,11101.0,5.0,1,0,300,NaN
30474,42993382,8/31/2015,"1BR ocean view & F,Q train st",Brooklyn,Apartment,NaN,Private room,11224.0,2.0,1,0,125,NaN
30475,43033067,8/31/2015,Amazing Private Room,Brooklyn,Other,NaN,Private room,11206.0,1.0,1,0,80,NaN
30476,43000991,8/31/2015,Charming private female room: UWS,Manhattan,Apartment,NaN,Private room,10025.0,1.0,1,0,35,NaN
30477,42999189,8/31/2015,Huge Beautiful Bedroom - Astoria,Queens,House,NaN,Private room,11105.0,1.0,1,0,80,NaN

In [7]:
print(df.shape, '\n') # List the dimensions of df
print(df.dtypes, '\n') # The types of the variables; `object` is a bad sign
print(df.columns, '\n') # Column names

(30478, 13)

Host Id                         int64
Host Since                     object
Name                           object
Neighbourhood                  object
Property Type                  object
Review Scores Rating (bin)    float64
Room Type                      object
Zipcode                       float64
Beds                          float64
Number of Records               int64
Number Of Reviews               int64
Price                          object
Review Scores Rating          float64
dtype: object

Index(['Host Id', 'Host Since', 'Name', 'Neighbourhood ', 'Property Type',
       'Review Scores Rating (bin)', 'Room Type', 'Zipcode', 'Beds',
       'Number of Records', 'Number Of Reviews', 'Price',
       'Review Scores Rating'],
      dtype='object')

In [8]:
df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [10]:
price = df['Price']
price.unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

In [13]:
price = price.str.replace(",", "")
print(price.unique(), "\n")
price = pd.to_numeric(price, errors="coerce")
print(price.unique(), "\n")
print("Missing vals:", sum(price.isnull()))

['145' '37' '28' '199' '549' '149' '250' '90' '270' '290' '170' '59' '49'
 '68' '285' '75' '100' '150' '700' '125' '175' '40' '89' '95' '99' '499'
 '120' '79' '110' '180' '143' '230' '350' '135' '85' '60' '70' '55' '44'
 '200' '165' '115' '74' '84' '129' '50' '185' '80' '190' '140' '45' '65'
 '225' '600' '109' '1 990' '73' '240' '72' '105' '155' '160' '42' '132'
 '117' '295' '280' '159' '107' '69' '239' '220' '399' '130' '375' '585'
 '275' '139' '260' '35' '133' '300' '289' '179' '98' '195' '29' '27' '39'
 '249' '192' '142' '169' '1 000' '131' '138' '113' '122' '329' '101' '475'
 '238' '272' '308' '126' '235' '315' '248' '128' '56' '207' '450' '215'
 '210' '385' '445' '136' '247' '118' '77' '76' '92' '198' '205' '299'
 '222' '245' '104' '153' '349' '114' '320' '292' '226' '420' '500' '325'
 '307' '78' '265' '108' '123' '189' '32' '58' '86' '219' '800' '335' '63'
 '229' '425' '67' '87' '1 200' '158' '650' '234' '310' '695' '400' '166'
 '119' '62' '168' '340' '479' '43' '395' '144' '52' '47' '529' '187' '209'
 '233' '82' '269' '163' '172' '305' '156' '550' '435' '137' '124' '48'
 '279' '330' '5 000' '134' '378' '97' '277' '64' '193' '147' '186' '264'
 '30' '3 000' '112' '94' '379' '57' '415' '236' '410' '214' '88' '66' '71'
 '171' '157' '545' '1 500' '83' '96' '1 800' '81' '188' '380' '255' '505'
 '54' '33' '174' '93' '740' '640' '1 300' '440' '599' '357' '1 239' '495'
 '127' '5 999' '178' '348' '152' '242' '183' '253' '750' '259' '365' '273'
 '197' '397' '103' '389' '355' '559' '38' '203' '999' '141' '162' '333'
 '698' '46' '360' '895' '10' '41' '206' '281' '449' '388' '212' '102'
 '201' '2 750' '4 750' '432' '675' '167' '390' '298' '339' '194' '302'
 '211' '595' '191' '53' '361' '480' '8 000' '4 500' '459' '997' '345'
 '216' '218' '111' '735' '276' '91' '490' '850' '398' '36' '775' '267'
 '625' '336' '2 500' '176' '725' '3 750' '469' '106' '460' '287' '575'
 '227' '263' '25' '228' '208' '177' '880' '148' '116' '685' '470' '217'
 '164' '61' '645' '699' '405' '252' '319' '268' '419' '343' '525' '311'
 '840' '154' '294' '950' '409' '184' '257' '204' '241' '2 000' '412' '121'
 '288' '196' '900' '647' '524' '1 750' '309' '510' '1 495' '1 700' '799'
 '383' '372' '492' '327' '1 999' '656' '224' '173' '875' '1 170' '795'
 '690' '146' '465' '1 100' '151' '274' '429' '825' '282' '256' '1 111'
 '620' '271' '161' '51' '855' '579' '1 174' '430' '20' '899' '649' '485'
 '181' '455' '4 000' '243' '342' '590' '560' '374' '437' '232' '359' '985'
 '31' '244' '254' '723' '237' '428' '370' '34' '1 400' '580' '2 520' '221'
 '749' '1 600' '2 695' '306' '202' '680' '570' '520' '223' '2 295' '213'
 '1 065' '346' '24' '286' '296' '266' '26' '995' '1 368' '393' '182' '635'
 '258' '780' '589' '347' '1 250' '1 350' '446' '3 200' '1 050' '1 650'
 '1 550' '975' '323' '6 500' '2 499' '1 850' '2 250' '715' '461' '540'
 '356' '439' '384' '569' '1 900' '22' '785' '626' '830' '318' '444' '321'
 '401' '1 499' '888' '369' '770' '386' '366' '344' '630' '313' '597' '262'
 '509' '10 000' '278' '312' '789' '1 195' '422' '21' '765' '3 500' '945'
 '326' '3 100' '2 486' '3 390' '1 356' '2 599' '472' '454' '328' '396'
 '291']

[145.  37.  28. 199. 549. 149. 250.  90. 270. 290. 170.  59.  49.  68.
 285.  75. 100. 150. 700. 125. 175.  40.  89.  95.  99. 499. 120.  79.
 110. 180. 143. 230. 350. 135.  85.  60.  70.  55.  44. 200. 165. 115.
  74.  84. 129.  50. 185.  80. 190. 140.  45.  65. 225. 600. 109.  nan
  73. 240.  72. 105. 155. 160.  42. 132. 117. 295. 280. 159. 107.  69.
 239. 220. 399. 130. 375. 585. 275. 139. 260.  35. 133. 300. 289. 179.
  98. 195.  29.  27.  39. 249. 192. 142. 169. 131. 138. 113. 122. 329.
 101. 475. 238. 272. 308. 126. 235. 315. 248. 128.  56. 207. 450. 215.
 210. 385. 445. 136. 247. 118.  77.  76.  92. 198. 205. 299. 222. 245.
 104. 153. 349. 114. 320. 292. 226. 420. 500. 325. 307.  78. 265. 108.
 123. 189.  32.  58.  86. 219. 800. 335.  63. 229. 425.  67.  87. 158.
 650. 234. 310. 695. 400. 166. 119.  62. 168. 340. 479.  43. 395. 144.
  52.  47. 529. 187. 209. 233.  82. 269. 163. 172. 305. 156. 550. 435.
 137. 124.  48. 279. 330. 134. 378.  97. 277.  64. 193. 147. 186. 264.
  30. 112.  94. 379.  57. 415. 236. 410. 214.  88.  66.  71. 171. 157.
 545.  83.  96.  81. 188. 380. 255. 505.  54.  33. 174.  93. 740. 640.
 440. 599. 357. 495. 127. 178. 348. 152. 242. 183. 253. 750. 259. 365.
 273. 197. 397. 103. 389. 355. 559.  38. 203. 999. 141. 162. 333. 698.
  46. 360. 895.  10.  41. 206. 281. 449. 388. 212. 102. 201. 432. 675.
 167. 390. 298. 339. 194. 302. 211. 595. 191.  53. 361. 480. 459. 997.
 345. 216. 218. 111. 735. 276.  91. 490. 850. 398.  36. 775. 267. 625.
 336. 176. 725. 469. 106. 460. 287. 575. 227. 263.  25. 228. 208. 177.
 880. 148. 116. 685. 470. 217. 164.  61. 645. 699. 405. 252. 319. 268.
 419. 343. 525. 311. 840. 154. 294. 950. 409. 184. 257. 204. 241. 412.
 121. 288. 196. 900. 647. 524. 309. 510. 799. 383. 372. 492. 327. 656.
 224. 173. 875. 795. 690. 146. 465. 151. 274. 429. 825. 282. 256. 620.
 271. 161.  51. 855. 579. 430.  20. 899. 649. 485. 181. 455. 243. 342.
 590. 560. 374. 437. 232. 359. 985.  31. 244. 254. 723. 237. 428. 370.
  34. 580. 221. 749. 306. 202. 680. 570. 520. 223. 213. 346.  24. 286.
 296. 266.  26. 995. 393. 182. 635. 258. 780. 589. 347. 446. 975. 323.
 715. 461. 540. 356. 439. 384. 569.  22. 785. 626. 830. 318. 444. 321.
 401. 888. 369. 770. 386. 366. 344. 630. 313. 597. 262. 509. 278. 312.
 789. 422.  21. 765. 945. 326. 472. 454. 328. 396. 291.]

Missing vals: 181

In [14]:
df = pd.read_csv('/content/drive/MyDrive/UVA/24F/ML/sharks.csv',low_memory=False)
df

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020.01.17,17-Jan-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020.01.16,16-Jan-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020.01.13,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6457,6457,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6458,6458,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6459,6459,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6460,6460,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6461,6461,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df["Type"].value_counts()

Type
Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: count, dtype: int64

In [17]:
temp = df["Type"]
temp = temp.replace(["Sea Disaster", "Watercraft", "Boat", "Boating", "Boatomg"], "Water")
temp = temp.replace(["Questionable", "Unconfirmed", "Unverified", "Under investigation"], "Under investigation")
temp.value_counts()

Type
Unprovoked             4716
Provoked                593
Water                   583
Invalid                 552
Under investigation      13
Name: count, dtype: int64

In [22]:
df = pd.read_csv("/content/drive/MyDrive/UVA/24F/ML/pretrial_data.csv", low_memory=False)
df

,Unnamed: 0,InternalStudyID,REQ_REC#,Defendant_Sex,Defendant_Race,Defendant_BirthYear,Defendant_Age,Defendant_AgeGroup,Defendant_AgeatCurrentArrest,Defendant_AttorneyTypeAtCaseClosure,...,NewFelonySexualAssaultArrest_Disposition,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound,CrimeCommission2021ReportClassificationofDefendants,age,sex,age_nan,age_impute,bond_NA
0,0,ADI00001,1,M,W,1986,31,3,31,99,...,,4,1,0,Defendant could not be classified or tracked d...,31.0,M,False,31.0,True
1,1,ADI00007,3,M,B,1956,60,6,60,9,...,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...,60.0,M,False,60.0,True
2,2,ADI00008,4,M,W,1990,27,3,27,9,...,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...,27.0,M,False,27.0,True
3,3,CDI00036,6,M,B,1989,27,3,27,0,...,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...,27.0,M,False,27.0,True
4,4,CDI00038,7,F,W,1988,28,3,28,0,...,,0,1,1,New criminal offense punishable by incarcerati...,28.0,F,False,28.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22981,22981,SJA00343,22839,M,B,1976,41,4,41,2,...,,0,1,1,New criminal offense punishable by incarcerati...,41.0,M,False,41.0,False
22982,22982,SJA00344,,F,W,,,9,,99,...,,3,,9,Defendant could not be classified or tracked d...,NaN,F,True,31.0,False
22983,22983,SJA00345,22841,M,B,1981,36,4,36,1,...,,0,1,1,New criminal offense punishable by incarcerati...,36.0,M,False,36.0,False
22984,22984,SJA00346,22842,F,B,1993,24,2,24,5,...,,0,1,1,New criminal offense punishable by incarcerati...,24.0,F,False,24.0,False
22985,22985,SJA00347,22843,M,B,1985,31,3,31,2,...,,0,1,1,New criminal offense punishable by incarcerati...,31.0,M,False,31.0,False

In [34]:
release_status = df["WhetherDefendantReceivedPretrialServicesAgencySuperv_PTCC"]
print(release_status.unique(), "\n")
print(release_status.value_counts(), "\n")

[ 0  1  3  4  5  2  9 99]

WhetherDefendantReceivedPretrialServicesAgencySuperv_PTCC
0     20685
1      1818
4       255
5       144
3        41
2        29
99       12
9         2
Name: count, dtype: int64

In [33]:
release_status = release_status.replace(9, np.nan)
print(release_status.unique(), "\n")
print(release_status.value_counts(), "\n")

[ 0.  1.  3.  4.  5.  2. nan 99.]

WhetherDefendantReceivedPretrialServicesAgencySuperv_PTCC
0.0     20685
1.0      1818
4.0       255
5.0       144
3.0        41
2.0        29
99.0       12
Name: count, dtype: int64

In [40]:
sentence = df["ImposedSentenceAllChargeInContactEvent"]
print(sentence.unique(), "\n")
print(sentence.value_counts(), "\n")

sentence = pd.to_numeric(sentence,errors='coerce')
sentence_null = sentence.isnull()
print("null vals:", np.sum(sentence_null))

[' ' '60' '12' '.985626283367556' '36' '6' '24' '5.91375770020534' '120'
 '72' '11.9917864476386' '0' '2.95687885010267' '84' '108' '300' '240'
 '180' '4' '96' '2' '54' '.328542094455852' '44' '5' '115' '132' '48'
 '258' '34' '76' '.164271047227926' '.131416837782341' '111' '9' '3'
 '1.97125256673511' '36.9856262833676' '.0657084188911704'
 '35.4928131416838' '106.492813141684' '8' '35' '18.3141683778234' '480'
 '32' '93' '234' '732' '1.16427104722793' '4.6570841889117' '21' '7'
 '4.49281314168378' '18' '600' '43.1642710472279' '179' '52' '30' '20'
 '192' '702' '14' '55' '53' '11.9055441478439' '114' '35.0061601642711'
 '68' '.657084188911704' '46.6242299794661' '102' '65' '200' '57'
 '24.3285420944559' '12.1642710472279' '117' '81.4928131416838'
 '22.4928131416838' '1980' '3.6570841889117' '56' '10' '2.79260780287474'
 '1' '47' '22' '1500' '40' '284' '11' '118' '42' '162' '156'
 '47.2956878850103' '105' '51' '246' '29' '75' '324' '360'
 '34.4804928131417' '120.328542094456' '59.9260780287474' '66'
 '59.9917864476386' '660' '51.1642710472279' '14.9568788501027'
 '3.98562628336756' '78' '228' '1.47843942505133' '62' '4.8' '86' '168'
 '23' '33' '48.0328542094456' '720' '348' '1200' '27' '49' '87' '420' '63'
 '79.9260780287474' '57.0349075975359' '49.9712525667351'
 '59.4928131416838' '17' '238.492813141684' '60.9856262833676' '126' '45'
 '158' '216' '227' '42.9568788501027' '445' '70.952772073922' '516'
 '177.82135523614' '1752' '90' '1080' '141' '4.82956878850103' '230' '31'
 '2208' '52.5133470225873' '69' '26' '33.4928131416838' '140' '131' '344'
 '219' '101' '71' '59' '58' '120.197125256674' '67' '35.4004106776181'
 '3.28542094455852' '40.1642710472279' '91' '1.7741273100616' '155'
 '34.4928131416838' '81' '92.3285420944559' '3.5482546201232' '207' '74'
 '518' '28' '8.95687885010267' '237' '404.673511293634' '18.1642710472279'
 '10.7433264887064' '551' '39' '15' '124' '43' '176' '19.4928131416838'
 '482' '129' '88' '46' '45.8542094455852' '128.628336755647'
 '136.492813141684' '108.328542094456' '50' '363.663244353183' '288' '250'
 '107' '81.0225872689938' '444' '205' '10.6570841889117' '19'
 '66.9856262833676' '38.4928131416838' '264' '276' '173' '222' '144' '294'
 '336' '431' '450' '73' '99.3285420944559' '128' '30.8069815195072'
 '31.5256673511294' '127' '202' '55.3285420944559' '89' '242'
 '1.31416837782341' '1029' '.788501026694045' '194.858316221766' '399'
 '39.6570841889117' '56.95687885' '198' '120.985626283368'
 '47.6570841889117' '148' '6.8993839835729' '65.3285420944559'
 '5.95277207392197' '.0985626283367557' '3.32854209445585'
 '3.94250513347023' '12.9856262833676' '6.98562628336756'
 '13.1498973305955' '15.1642710472279' '17.1971252566735'
 '17.9137577002053' '104' '212' '24.6570841889117' '72.6570841889117'
 '2.98562628336756' '144.985626283368' '31.9712525667351' '183'
 '4.98562628336756' '11.8213552361396' '252' '12.394250513347'
 '42.4928131416838' '10.1642710472279' '11.1642710472279'
 '5.49281314168378' '59.6632443531827' '12.3285420944559'
 '48.9856262833676' '240.985626283368' '2.6570841889117' '540'
 '2.97125256673511' '6.32854209445585' '23.6632443531828'
 '133.657084188912' '35.3285420944559' '456' '103' '1.72279260780287'
 '12.6570841889117' '11.6570841889117' '60.3285420944559'
 '3.78850102669405' '576' '2.13141683778234' '492' '14.9856262833676'
 '24.9856262833676' '61.9712525667351' '5.6570841889117' '16'
 '42.1642710472279' '.492813141683778' '138' '13.3141683778234'
 '11.8932238193018' '5.32854209445585' '95' '62.6570841889117'
 '3.08829568788501' '11.8275154004107' '1.64271047227926'
 '47.9917864476386' '4.27104722792608' '8.32854209445585'
 '3.31416837782341' '70' '77' '1.09856262833676' '48.1642710472279'
 '27.4928131416838' '6.93839835728953' '1011' '.68993839835729'
 '1.1170431211499' '1.49281314168378' '4.16427104722793'
 '1.19712525667351' '4.07392197125257' '188' '11.3285420944559'
 '.0328542094455852' '432' '11.952772073922' '36.4928131416838'
 '23.9835728952772' '9.98562628336756' '98' '36.3285420944559' '112'
 '.394250513347023' '13' '.262833675564682' '13.7987679671458'
 '5.8870636550308' '354' '5.91991786447639' '24.1642710472279'
 '62.95687885' '4.59958932238193' '123' '2.32854209445585'
 '23.9240246406571' '204' '197' '174' '16.1498973305955' '840' '440'
 '98.95687885' '17.952772073922' '63.9425051334702' '60.1314168377823'
 '12.1314168377823' '172.952772073922' '.197125256673511'
 '138.164271047228' '4.92813141683778' '.919917864476386'
 '18.9856262833676' '6.6570841889117' '2.85420944558522'
 '8.91375770020534' '146' '12.4928131416838' '.558521560574949'
 '.722792607802875' '5.82135523613963' '84.9856262833676'
 '6.16427104722793' '15.9856262833676' '64.5585215605749'
 '38.299794661191' '11.958932238193' '3.1211498973306' '126.328542094456'
 '5.16427104722793' '64' '42.6570841889117' '312' '19.9712525667351'
 '82.3285420944559' '23.9712525667351' '17.6242299794661'
 '121.971252566735' '59.6550308008214' '1.32854209445585'
 '7.97125256673511' '1.91991786447639' '.525667351129363'
 '9.32854209445585' '42.9856262833676' '41.9137577002053'
 '72.9856262833676' '12.4784394250513' '5.19096509240246' '473'
 '16.6570841889117' '109' '86.3285420944559' '41' '1.90554414784394'
 '94.1642710472279' '302' '4.39425051334702' '10.8213552361396'
 '18.3285420944559' '154' '83' '110.956878850103' '226' '96.0328542094456'
 '4.82135523613963' '30.3285420944559' '37.9712525667351'
 '50.4640657084189' '286' '99' '99.4928131416838' '2.6611909650924'
 '70.9712525667351' '13.9712525667351' '23.6570841889117'
 '.459958932238193' '132.492813141684' '283' '49.3141683778234'
 '27.9856262833676' '38' '7.6570841889117' '83.6550308008214'
 '10.9199178644764' '162.328542094456' '37' '132.328542094456'
 '35.952772073922' '165' '10.9856262833676' '20.1642710472279'
 '2.59137577002053' '175' '180.985626283368' '10.3285420944559'
 '36.1642710472279' '120.657084188912' '232' '152' '8.98562628336756'
 '167' '11.0657084188912' '11.2032854209446' '5.19712525667351'
 '3.16427104722793' '60.1642710472279' '1.18275154004107'
 '21.1642710472279' '2.19712525667351' '4.19712525667351'
 '2.62833675564682' '119.952772073922' '119.958932238193'
 '9.49281314168378' '5.25667351129363' '15.3285420944559'
 '2.82135523613963' '192.985626283368' '48.6570841889117'
 '5.95687885010267' '2.29979466119097' '960' '2.36550308008214' '116'
 '19.5133470225873' '1.6570841889117']

ImposedSentenceAllChargeInContactEvent
                    9053
0                   4953
12                  1404
.985626283367556    1051
6                    809
                    ...
49.9712525667351       1
57.0349075975359       1
79.9260780287474       1
42.1642710472279       1
1.6570841889117        1
Name: count, Length: 484, dtype: int64

null vals: 9053

In [42]:
print(pd.crosstab(df['ImposedSentenceAllChargeInContactEvent'], df['SentenceTypeAllChargesAtConvictionInContactEvent']),'\n')

SentenceTypeAllChargesAtConvictionInContactEvent  0   1  2     4    9
ImposedSentenceAllChargeInContactEvent
                                                  0   0  0  8779  274
.0328542094455852                                 0   6  0     0    0
.0657084188911704                                 3  21  0     0    0
.0985626283367557                                 2   6  0     0    0
.131416837782341                                  4  10  0     0    0
...                                              ..  .. ..   ...  ...
98                                                0   0  1     0    0
98.95687885                                       0   0  1     0    0
99                                                0   1  0     0    0
99.3285420944559                                  0   1  0     0    0
99.4928131416838                                  0   1  0     0    0

[484 rows x 5 columns]



---

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?